
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="text-center">
        <h4 class="text-success">Your payment is successful. Please wait for 7 days to ship to you!</h4>
        <a href="/Customer/Home/Index" class="btn btn-outline-dark">Click here to continue shopping</a>
    </div>
</div>

